.container-trend {
    background: white;
    border-radius: 3px;
}
.trend-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.change {
    padding: 0 5px;
    color: rgba(161, 158, 158, .5);
    font-size: 13px;
}